*{
    padding: 0;
    margin: 0;
    border: 0;
    /*border: 1px solid red;*/
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display:block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust:  100%;
    -webkit-text-size-adjust: 100%;
    font-family: Chivo;
    font-weight: 400;
    color: #000000;
}
input,button,textarea{font-family: Chivo;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

._container{
    max-width: 1120px;
    box-sizing: content-box;
    margin: 0px auto;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
/*голова*/
.header {
    background: black;
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
    z-index: 50;
    display: flex;
}
.header__container {
    min-height: 100px;
    display: flex;
}

.header_link{
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 171% */
    text-align: center;
    letter-spacing: 0.32px;
    max-width: 360px;
    color: white;


}
.main{
    margin-top: 150px;
    flex: 1 0 auto;
}
.header_nav{
    display: flex;
    align-items: center;
    gap: 40px;


}


/*голова*/

/*тело*/
.main__container {
    display: flex;
    align-items: center;
}

.main_photo {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    opacity: 0; /* Начальная непрозрачность (изображение скрыто) */
    animation: my_animation 1.5s ease-in-out 5s forwards; /* Анимация с задержкой 5 секунды */
    /*forwards гарантирует что агимация будет коесйнй*/
}
/*Параметр это название анимации my_animation */
@keyframes my_animation  {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}
.main__text {
    padding: 10px;
}

.main__text-name {
    font-size:50px;
    padding: 0px 0px 20px 0px;

}
.main__text-name:hover{
    font-size:52px;
}

.main__text-uni {
    font-size:30px;
    padding: 0px 0px 20px 0px;
    text-shadow: 1px 2px;

}
.main__text-info{
    font-size:20px;

}



/*тело*/


/*подвал*/

.footer{
    min-height: 100px;
    background-color: black;
    /* Три значения: flex-grow | flex-shrink | flex-basis */
    flex: 0 0 auto;
    width: 100%;
}
.sms_el{
    font-size: 24px;
    /* identical to box height, or 171% */
    text-align: center;
    letter-spacing: 0.32px;
    max-width: 360px;
    color: white;
}
.footer_container {

}


.footer_sms_container {
    display: flex;
    justify-content: space-between;
    margin: 35px;
    padding: 35px;


}


/*подвал*/




